body {
    margin: 0;
    padding: 0;
    background: #C8CBCC;
    font-family: "Lucida Sans Unicode", "Arial";
    color: #3498DB;
}

/* Nav bar stuff */
.nav ul {
    list-style: none;
    background-color: #2C3E50;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    width: 240px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  } 
 
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
 
.nav a:hover {
    background-color: #2980B9;
}
 
 
.header img{
    margin-top: 0px;
    padding-top: 75px;
    display: block;
    margin: 0 auto;
}

/* Compensating for header */

.anchor{
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}


.content img{
    float:right;
    
    padding-bottom: auto;
    padding-top: auto;
    
    height: 80%; 
}

h3{
    color: #E74C3C;
}

h2{
    margin-top: 20px;
    color: #2C3E50;
    margin-bottom: 10px;
}

b{
    color: #2980B9;
}

dt u{
    color: #E74C3C;
    font-size: 1.17rem;
    text-decoration: none;
    font-weight: bold;
}

div.content{
    border-style:ridge;
    border-color: #2C3E50;
    background-color: #ccddff;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    margin-top: 1%;
    margin-bottom: 4%;
}
 
.content a:link {color:#2980B9; text-decoration:none; font-weight:bold;}
.content a:visited {color:#2C3E50;}
.content a:active {color:#E74C3C;}
.content a:hover {text-decoration:underline;}
